<div data-animation="over-right" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="all" data-w-id="060eb89e-8c4e-5dda-15de-ffb6307607da" role="banner" data-duration="400">
        <a href="{{ routes.root_url }}" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ '2_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 85px, 100px" srcset="{{ '2_1-p-500.png' | asset_url }} 500w, {{ '2_1-p-800.png' | asset_url }} 800w, {{ '2_1-p-1080.png' | asset_url }} 1080w, {{ '2_1-p-1600.png' | asset_url }} 1600w, {{ '2_1-p-2000.png' | asset_url }} 2000w, {{ '2_1-p-2600.png' | asset_url }} 2600w, {{ '2_1-p-3200.png' | asset_url }} 3200w, {{ '2_1.png' | asset_url }} 6080w" alt="" class="logo-404"></a>
        <div class="background-menu">
          <div class="line"></div>
        </div>
        <div class="menu-bar-hidden">
          <div class="w-layout-grid grid-menu">
            <div class="collumn-menu first">
              <div class="overflow-2">
                <h2 data-w-id="ca89fac5-498b-c81b-64f9-2701961ae4e6" class="navbar-heading-menu-2">{{ 't4a09ad72' | t }}</h2>
              </div>
              <div class="overflow-2"></div>
              <div class="overflow-2">
                <h2 data-w-id="ca89fac5-498b-c81b-64f9-2701961ae4ec" class="navbar-heading-menu-2"></h2>
              </div>
            </div>
            <div class="collumn-menu">
              <a href="{{ pages["about"].url }}" data-w-id="ca89fac5-498b-c81b-64f9-2701961ae4ef" class="menu-link top w-inline-block"><img src="{{ '3_2.png' | asset_url }}" loading="lazy" width="185" sizes="100vw" alt="" srcset="{{ '3_2-p-500.png' | asset_url }} 500w, {{ '3_2.png' | asset_url }} 1200w" class="image-page-2">
                <div class="overflow-2">
                  <h2 class="navbar-heading">{{ 't3c2336d' | t }}</h2>
                </div>
              </a>
              <a href="{{ pages["about"].url }}" data-w-id="ca89fac5-498b-c81b-64f9-2701961ae4f4" class="menu-link w-inline-block"><img src="{{ '4_2.png' | asset_url }}" loading="lazy" width="185" sizes="100vw" alt="" srcset="{{ '4_2-p-500.png' | asset_url }} 500w, {{ '4_2.png' | asset_url }} 1200w" class="image-page-2">
                <div class="overflow-2">
                  <h1 class="navbar-heading">{{ 't645efc51' | t }}</h1>
                </div>
              </a>
              <a href="{{ pages["shop"].url }}" data-w-id="ca89fac5-498b-c81b-64f9-2701961ae4f9" class="menu-link w-inline-block"><img src="{{ '1_3.png' | asset_url }}" loading="lazy" width="185" sizes="100vw" alt="" srcset="{{ '1_3-p-500.png' | asset_url }} 500w, {{ '1_3.png' | asset_url }} 1200w" class="image-page-2">
                <div class="overflow-2">
                  <h1 class="navbar-heading">{{ 't274f16' | t }}</h1>
                </div>
              </a>
              <div class="w-layout-grid navbar-grid">
                <a href="{{ pages["faq"].url }}" id="w-node-ca89fac5-498b-c81b-64f9-2701961ae4ff-307607da" class="link-block-first-navbar w-inline-block">
                  <div class="navbar-text-2">{{ 't10ef6' | t }}</div>
                </a>
                <a id="w-node-ca89fac5-498b-c81b-64f9-2701961ae502-307607da" href="https://www.facebook.com/Luretic" class="social-link nav w-inline-block"><img src="{{ 'facebook-.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'facebook-p-500.png' | asset_url }} 500w, {{ 'facebook-.png' | asset_url }} 834w" alt="" class="social-image"></a>
                <a href="{{ pages["contact"].url }}" id="w-node-ca89fac5-498b-c81b-64f9-2701961ae504-307607da" class="link-first-navbar w-inline-block">
                  <div class="navbar-text-2">{{ 't38b72420' | t }}</div>
                </a>
                <a href="https://www.instagram.com/ncb_salons/" id="w-node-ca89fac5-498b-c81b-64f9-2701961ae507-307607da" class="social-link nav _2 w-inline-block"><img src="{{ 'instagram-2.svg' | asset_url }}" loading="lazy" alt="" class="social-image"></a>
              </div>
            </div>
          </div>
        </div>
        <form action="/search" class="search-2 w-form" method="get" role="search"><input type="search" class="search-input-2 w-input" maxlength="256" name="q" placeholder="Search…" id="search" required=""><input type="submit" value="Search" class="search-button w-button"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3c941123b14a_search.svg" width="20" data-w-id="5d0be519-279e-f7fe-69b5-988d4b51210f" alt="" class="cart-image"></form>
        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart2" udy-collection="cart">
          <a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button-3 w-inline-block"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cd61723b14e_5f511047bd85af4421e483d4_bag.svg" width="20" alt="">
            <div class="w-commerce-commercecartopenlinkcount cart-quantity-third">{{ cart.item_count }}</div>
          </a>
          <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrap">
            <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container-2 light-cart-container">
              <div class="w-commerce-commercecartheader cart-header-2 light-cart-header"><img src="{{ 'ncb-logo-transparent-1.png' | asset_url }}" width="100" sizes="100vw" srcset="{{ 'ncb-logo-transparent-1-p-800.png' | asset_url }} 800w, {{ 'ncb-logo-transparent-1-p-1080.png' | asset_url }} 1080w, {{ 'ncb-logo-transparent-1-p-1600.png' | asset_url }} 1600w, {{ 'ncb-logo-transparent-1-p-2000.png' | asset_url }} 2000w, {{ 'ncb-logo-transparent-1-p-2600.png' | asset_url }} 2600w, {{ 'ncb-logo-transparent-1-p-3200.png' | asset_url }} 3200w, {{ 'ncb-logo-transparent-1.png' | asset_url }} 6080w" alt="">
                <a href="#" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3c35b323b14d_Close%20Cart%20Icon%20Light%402x.png" width="11" alt="" class="cart-close-icon"></a>
              </div>
              <div class="w-commerce-commercecartformwrapper cart-form-wrapper">
                <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                  <script type="text/x-wf-template" id="wf-template-72ad4b58-ba58-c146-8159-5131bf015626"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="72ad4b58-ba58-c146-8159-5131bf015627"><img data-node-type="cart-item-image" class="cart-product-image-2 w-commerce-commercecartitemimage" src="<%= it.image %>" item="featured-image" template-part-bind="72ad4b58-ba58-c146-8159-5131bf015628"><div data-node-type="cart-item-info" class="cart-item-info light-cart-item-info w-commerce-commercecartiteminfo" template-part-bind="72ad4b58-ba58-c146-8159-5131bf015629"><div><div data-node-type="cart-product-name" class="cart-product-name w-commerce-commercecartproductname" item="title" template-part-bind="72ad4b58-ba58-c146-8159-5131bf01562b"><%= it.title %></div><div data-node-type="cart-product-price" class="cart-product-price-2" item="price" template-part-bind="72ad4b58-ba58-c146-8159-5131bf01562d" data-commerce-type="variation-price"><%= it.price %></div></div><ul class="option-list w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item" class="option"><span data-node-type="cart-option-list-item-label" class="cart-option-text"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" class="cart-option-text"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button-2" href="#" item="remove" template-part-bind="72ad4b58-ba58-c146-8159-5131bf015635" data-product-id="<%= it.id %>"><div class="cart-remove-link-2 light-cart-remove-link">Remove</div></a></div><input class="w-commerce-commercecartquantity text-field-6-copy cart-input light-cart-input quantity" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                  <div item="product-list" class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-72ad4b58-ba58-c146-8159-5131bf015626"></div>
                  <div class="w-commerce-commercecartfooter cart-footer light-cart-footer">
                    <div class="w-commerce-commercecartlineitem cart-line-item light-cart-line-item">
                      <div class="size-text-second">{{ 'tn76f396dc' | t }}</div>
                      <div class="w-commerce-commercecartordervalue size-text">{{ cart.items_subtotal_price | money }}</div>
                    </div>
                    <div>
                      <div data-node-type="commerce-cart-quick-checkout-actions">{{ content_for_additional_checkout_buttons }}</div>
                      <div style="position:relative" data-wf-paypal-button="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;color&quot;:&quot;black&quot;,&quot;shape&quot;:&quot;rect&quot;,&quot;label&quot;:&quot;paypal&quot;,&quot;tagline&quot;:false,&quot;note&quot;:false}" class="paypal">
                        <div style="position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:999;cursor:auto"></div>
                      </div>
                      <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton main-button" data-loading-text="Hang Tight...">{{ 'tn7941186e' | t }}</a>
                    </div>
                  </div>
                </form>
                <div class="w-commerce-commercecartemptystate empty-state-cart">
                  <div class="text-first-navbar">{{ 't3d503d2b' | t }}</div>
                  <a href="{{ pages["shop"].url }}" class="button-checkout w-button">{{ 'tn74af509e' | t }}</a>
                </div>
                <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-message-5">
                  <div class="error-message-second w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="Cart failed." data-w-cart-subscription_error-error="Cart failed.">{{ 'tn1c765d0d' | t }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-w-id="060eb89e-8c4e-5dda-15de-ffb630760805" class="menu-button w-nav-button">
          <div data-w-id="060eb89e-8c4e-5dda-15de-ffb630760808" class="icon w-icon-nav-menu"></div><img src="{{ 'close-01.svg' | asset_url }}" loading="lazy" data-w-id="5ba84269-9fcb-fa52-b37f-a7c3531362b0" alt="" class="icon _2 layout-1">
          <div class="wrapper-burger">
            <div class="wrap-burger-line _2"></div>
            <div class="wrap-burger__line-center"></div>
            <div class="wrap-burger-line"></div>
          </div>
        </div>
      </div>