<div class="pop-up">
    <a href="#" class="logo-pop-up-link w-inline-block"><img src="{{ 'ncb-logo-transparent-1.png' | asset_url }}" loading="lazy" width="100" sizes="100vw" srcset="{{ 'ncb-logo-transparent-1-p-800.png' | asset_url }} 800w, {{ 'ncb-logo-transparent-1-p-1080.png' | asset_url }} 1080w, {{ 'ncb-logo-transparent-1-p-1600.png' | asset_url }} 1600w, {{ 'ncb-logo-transparent-1-p-2000.png' | asset_url }} 2000w, {{ 'ncb-logo-transparent-1-p-2600.png' | asset_url }} 2600w, {{ 'ncb-logo-transparent-1-p-3200.png' | asset_url }} 3200w, {{ 'ncb-logo-transparent-1.png' | asset_url }} 6080w" alt="" class="logo-pop-up"></a>
    <p class="pop-up-paragraph"><em>{{ 'tn14c5a8bb' | t }}</em><br></p>
    <a href="https://apps.kitomba.com/bookings/ncbsalons" target="_blank" class="pop-up-button w-button">{{ 't7b3f393f' | t }}</a>
    <div data-w-id="6af652c6-a5be-45fa-e492-44f559e0fb98" class="close-button-pop-up"><img src="{{ 'close-button.svg' | asset_url }}" width="10" alt="" class="pop-up-close-icon"></div>
  </div>