{% capture listItems %}
{% paginate collections.all.products by 999 %}
{%- assign allItems = collections.all.products -%}
{%- for item in allItems limit: 3 offset: 4 -%}
 <div role="listitem" class="w-dyn-item w-col w-col-4">
            <div class="product-card-shop tasting">
              <a data-w-id="04acc865-3b39-5d95-1ed4-8f3df911fbb3" href="{{ item.url | within: collection }}" class="link-block-shop shop w-inline-block">
                <div item="title" class="product-name">{{ item.title }}</div>
                <div item="price" data-commerce-type="variation-price" class="text-price">{{ item.price | money }}</div>
                <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.2, 0.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.2, 0.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.2, 0.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.2, 0.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="buy-now-button">
                  <div class="text-buy-now-button">Buy</div>
                </div>
              </a>
              <div class="product-text-wrapper"></div><img src="{{ item.featured_image | img_url: 'master' }}" alt="{{ item.featured_image.alt }}" class="image-product" data-commerce-type="variation-image" srcset="{{ item.featured_image | img_url: '1920x' }} 1920w,{{ item.featured_image | img_url: '1600x' }} 1600w,{{ item.featured_image | img_url: '1366x' }} 1366w,{{ item.featured_image | img_url: '1024x' }} 1024w,{{ item.featured_image | img_url: '768x' }} 768w,{{ item.featured_image | img_url: '640x' }} 640w">
            </div>
          </div>
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="product">
        {%- unless items_length == 0 -%}<div role="list" class="collection-list shop w-dyn-items w-row">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>