{%- assign headerSnippetPath = "header-index" -%}{%- assign wfPage = "61ad89fde648a89ce8ba5bcc" -%}{%- assign bodyClasses = "" -%}
  <div class="app-pop-up">
    <div class="cta-section">
      <div class="cta-container">
        <div class="cta-block">
          <div class="w-layout-grid cta-grid">
            <div class="content-block">
              <div class="title-wrapper">
                <h1 class="title-large">{{ 't52ee5ef9' | t }}</h1>
                <div class="underline-wrapper">
                  <h1 class="title-large">{{ 'tn62fa823a' | t }}</h1><img src="https://uploads-ssl.webflow.com/6106431ccff59b3cce9dfc0e/6108dac1886601cd0dfc1608_Underline%20CTA.svg" loading="lazy" alt="" class="underline">
                </div>
                <h1 class="title-large">{{ 'tn7de44fce' | t }}</h1>
              </div>
              <p class="cta-paragraph">{{ 'tn7c4d3ede' | t }}</p>
              <div class="link-block-wrapper">
                <a href="https://play.google.com/store/apps/details?id=com.ncbsalons.app" class="link-block-2 w-inline-block"><img src="https://uploads-ssl.webflow.com/6106431ccff59b3cce9dfc0e/610643df4c82f2f630b10afa_Google%20Play.svg" loading="lazy" alt="" class="google-play"></a>
                <a href="https://apps.apple.com/au/app/ncb-salons/id1582796914" class="w-inline-block"><img src="https://uploads-ssl.webflow.com/6106431ccff59b3cce9dfc0e/610643df2f3ee95aa13b1625_Apple%20Store.svg" loading="lazy" alt="" class="apple-store"></a>
              </div>
              <a data-w-id="f6f0873c-82c0-cee9-e8ae-6c2f73f9aba9" href="#" class="close-modal">{{ 't2716' | t }}</a>
            </div>
            <div id="w-node-f6f0873c-82c0-cee9-e8ae-6c2f73f9abab-e8ba5bcc" class="image-block">
              <div class="cta-image-wrapper"><img src="{{ 'luretic.gif' | asset_url }}" loading="lazy" alt="" class="cta-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main landing-2">
    <div data-w-id="9a07347e-30c7-7890-ad67-4910e8466499" class="hero-section landing-2 wf-section">
      <div class="menu-wrap">
        <a href="#" data-w-id="ffc95c33-d0cf-8c1a-bd02-5c6acaf0a085" class="link-menu layout-2 w-inline-block"></a>
        <a href="{{ pages["shop"].url }}" data-w-id="e42f8794-64eb-d351-9e73-4f279c38bdfa" style="-webkit-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="link-menu layout-2 w-inline-block">
          <h2 class="heading-link" data-ix="new-interaction">{{ 't274f16' | t }}</h2>
          <div style="opacity:0" class="order-link">{{ 'tba4d' | t }}</div>
          <div style="opacity:0;width:0PX;background-color:rgb(255,255,255)" class="line-menu _2"></div>
        </a>
        <a href="{{ pages["about"].url }}" data-w-id="95710f01-3736-b977-20fe-69291c84b364" style="-webkit-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="link-menu layout-2 w-inline-block">
          <h2 class="heading-link" data-ix="new-interaction">{{ 't645efc51' | t }}</h2>
          <div style="opacity:0" class="order-link">{{ 'tba6c' | t }}</div>
          <div style="opacity:0;width:0PX;background-color:rgb(255,255,255)" class="line-menu _2"></div>
        </a>
        <a href="https://apps.kitomba.com/bookings/ncbsalons#services/all" data-w-id="f3c03395-5a04-cd89-2d38-1eb6e2f3a0da" style="opacity:0;-webkit-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="servcies-link-menu-copy layout-2 w-inline-block">
          <h2 class="heading-link" data-ix="new-interaction">{{ 't560f747e' | t }}</h2>
          <div style="opacity:0" class="order-link">{{ 'tba8b' | t }}</div>
          <div style="opacity:0;width:0PX;background-color:rgb(255,255,255)" class="line-menu _2"></div>
        </a>
        <a href="{{ pages["contact"].url }}" data-w-id="acd61476-74b6-100c-b51e-4b8a853ba064" style="-webkit-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="link-menu layout-2 w-inline-block">
          <h2 class="heading-link" data-ix="new-interaction">{{ 'tn64104400' | t }}</h2>
          <div style="opacity:0" class="order-link">{{ 'tbaaa' | t }}</div>
          <div style="opacity:0;width:0PX;background-color:rgb(255,255,255)" class="line-menu _2"></div>
        </a>
      </div>
      <div data-poster-url="https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-poster-00001.jpg" data-video-urls="https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-transcode.mp4,https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-background w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
          <source src="https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-transcode.mp4" data-wf-ignore="true">
          <source src="https://uploads-ssl.webflow.com/61ad89fde648a805e9ba5bc9/61ad8c50f5ee1c4a04b8023c_Luretic Video-transcode.webm" data-wf-ignore="true">
        </video>
        <div class="filter"></div>
      </div>
      <div class="loghi-wrap layout-2">
        <a href="https://www.instagram.com/ncb_salons/" class="social-link w-inline-block"><img src="{{ 'instagram-2.svg' | asset_url }}" loading="lazy" alt="" class="social-image hero"></a>
        <a href="https://www.facebook.com/NCBillawarra/" class="social-link w-inline-block"><img src="{{ 'facebook.svg' | asset_url }}" loading="lazy" alt="" class="social-image hero"></a>
      </div>
      {%- render 'first-navbar' -%}
    </div>
    <div class="about-section wf-section">
      <div class="container-about _2">
        <div class="container-about-layout-3">
          <div data-w-id="57f2ad43-611d-8a28-fb59-07b012132f68" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrapper-image second">
            <div class="container-line-landing-4">
              <h4 class="sub-heading-landing-4">{{ 'tn3a334b6' | t }}</h4>
              <div class="line about second"></div>
              <div class="order-teaxt">{{ 't601' | t }}</div>
            </div>
            <p class="main-paragraph landing-2 bold second">{{ 'tn6d9e46c8' | t }}</p>
          </div>
        </div>
        <h1 data-w-id="1689259e-fc5f-1414-70cd-6335dc879353" class="main-heading big">{{ 't645efc51' | t }}</h1>
      </div>
    </div>
    <div class="about-section wf-section">
      <div data-delay="4000" data-animation="over" class="about w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
        <div class="about-mask w-slider-mask">
          <div data-w-id="e2367e37-0b07-592b-3fb5-911f1605c31e" class="slide-2 w-slide">
            <div class="container-about"><img src="{{ '1200x771.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 77vw, 992px" srcset="{{ '1200x771-p-500.png' | asset_url }} 500w, {{ '1200x771-p-800.png' | asset_url }} 800w, {{ '1200x771-p-1080.png' | asset_url }} 1080w, {{ '1200x771.png' | asset_url }} 1200w" alt="" class="image-about-layout-3 second">
              <div style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="intro-container">
                <h1 class="heading-circle">{{ 't66df2bd2' | t }}</h1>
                <div class="line about second"></div>
              </div>
              <div style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="container-about-layout-3">
                <div class="wrapper-image">
                  <div class="wrapper-circle _2">
                    <h2 class="heading-about-layout-3 absolute _2">{{ 't7d3ffaa0' | t }}<br></h2>
                  </div>
                </div>
                <h2 class="heading-about-layout-3 checkbox-label">{{ 't7d3ffaa0' | t }}<br>{{ 'tn40bd2d57' | t }}</h2>
              </div>
              <div style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrapper-paragraph landing-2 second">
                <p class="main-paragraph landing-2 bold"><strong><em>{{ 'ta477ef0' | t }}</em></strong></p>
                <p class="main-paragraph landing-2"><em>{{ 't1d5002b6' | t }}</em><strong><em>{{ 't3b176986' | t }}</em></strong></p>
              </div>
            </div>
          </div>
          <div data-w-id="e2367e37-0b07-592b-3fb5-911f1605c31f" class="w-slide">
            <div class="container-about"><img src="{{ '1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 77vw, 992px" srcset="{{ '1-p-500.png' | asset_url }} 500w, {{ '1-p-800.png' | asset_url }} 800w, {{ '1-p-1080.png' | asset_url }} 1080w, {{ '1.png' | asset_url }} 1200w" alt="" class="image-about-layout-3 second">
              <div data-w-id="d5f3bffb-aece-db37-a1d4-ceb798233fed" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="intro-container">
                <h1 class="heading-circle">{{ 'tn43d2b22' | t }}</h1>
                <div class="line about second"></div>
              </div>
              <div data-w-id="d5f3bffb-aece-db37-a1d4-ceb798233ff1" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="container-about-layout-3">
                <div class="wrapper-image">
                  <div class="wrapper-circle _2">
                    <h1 class="heading-about-layout-3 absolute _2">{{ 't353075a' | t }}<br>{{ 't5cd8f242' | t }}</h1>
                  </div>
                </div>
                <h1 class="heading-about-layout-3 checkbox-label">{{ 't353075a' | t }}<br>{{ 't5cd8f242' | t }}</h1>
              </div>
              <div data-w-id="d5f3bffb-aece-db37-a1d4-ceb798233ffe" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrapper-paragraph landing-2 second">
                <p class="main-paragraph landing-2 bold">{{ 'tn1e6e2868' | t }}<br></p>
                <p class="main-paragraph landing-2"><em>{{ 'tn67062601' | t }}</em><br></p>
              </div>
            </div>
          </div>
          <div data-w-id="cc143458-57cb-6fa2-145d-e35ddc18812b" class="w-slide">
            <div class="container-about"><img src="{{ '2.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 80vw, (max-width: 991px) 77vw, 992px" srcset="{{ '2-p-500.png' | asset_url }} 500w, {{ '2-p-800.png' | asset_url }} 800w, {{ '2-p-1080.png' | asset_url }} 1080w, {{ '2.png' | asset_url }} 1200w" alt="" class="image-about-layout-3 second">
              <div data-w-id="441d92d9-651d-e2f2-e197-3a8118d11fc2" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="intro-container">
                <h1 class="heading-circle">{{ 'tn70bdecdf' | t }}</h1>
                <div class="line about second"></div>
              </div>
              <div data-w-id="441d92d9-651d-e2f2-e197-3a8118d11fc6" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="container-about-layout-3">
                <div class="wrapper-image">
                  <div class="wrapper-circle _2">
                    <h1 class="heading-about-layout-3 absolute _2">{{ 'tn4d975980' | t }}<br>{{ 'tn2ef1de3f' | t }}</h1>
                  </div>
                </div>
                <h1 class="heading-about-layout-3 checkbox-label">{{ 'tn4d975980' | t }}<br>{{ 'tn2ef1de3f' | t }}</h1>
              </div>
              <div data-w-id="441d92d9-651d-e2f2-e197-3a8118d11fd3" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="wrapper-paragraph landing-2 second">
                <p class="main-paragraph landing-2 bold">{{ 't4ece7c0b' | t }}</p>
                <p class="main-paragraph landing-2"><em>{{ 'tn7adabc9d' | t }}</em>{{ 't2e' | t }}<br></p>
              </div>
            </div>
          </div>
        </div>
        <div class="left-arrow-landing-2 w-slider-arrow-left">
          <div class="icon-arrow w-icon-slider-left"></div>
        </div>
        <div class="right-arrow-landing-2 w-slider-arrow-right">
          <div class="icon-arrow-sencond w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-hidden w-slider-nav w-round"></div>
      </div>
    </div>
    <div data-w-id="bfeaf4d6-3732-2a34-cc98-995f37d2180b" class="container-change-bg">
      <div id="Catalogue" class="section-text wf-section">
        <div class="bottle-container"><img class="bottle-image _3" src="{{ 'zippay.png' | asset_url }}" alt="" style="-webkit-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" sizes="(max-width: 479px) 80vw, (max-width: 767px) 50vw, (max-width: 991px) 25vw, (max-width: 1439px) 26vw, 28vw" data-w-id="ec77d535-4196-900d-2141-4f5530b4cc45" loading="lazy" srcset="{{ 'zippay-p-500.png' | asset_url }} 500w, {{ 'zippay.png' | asset_url }} 600w"><img src="{{ 'afterpay-png.png' | asset_url }}" loading="lazy" style="-webkit-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-150PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="cb43d543-1ee8-a910-8674-92490143e7b8" alt="" class="bottle-image _5"></div>
        <div class="container-text">
          <div>
            <div class="wrapper-big-heading">
              <h2 data-w-id="13c50b0c-cd65-afd4-6b4c-e94b77b4e164" style="-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="catalogue-heading"><span data-w-id="de607b79-6804-3640-8ef8-1a5d295cb0c6" class="big-heading">{{ 't274f16' | t }}</span></h2>
              <div style="width:0%" class="wrapper-slider"></div>
            </div>
            <h2 data-w-id="bf11bbf0-2a10-43c1-0363-0ea1ad7e4005" style="opacity:0;-webkit-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="catalogue-heading">{{ 't2d8a3f25' | t }}</h2>
          </div>
        </div>
      </div>
      <div data-w-id="8fcfc602-1222-70ee-2df0-187e2d234ba1" class="catlogue-section wf-section">
        <div data-w-id="1980b3a8-3cd5-a5ff-8633-6c2f44e12612" class="first-catalogue">
          <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="background-catalogue"></div>
          <div class="wrap-text">
            <div class="sub-heading-copy white">{{ 't6760290' | t }}</div>
            <h3 class="catalogue-heading white normal">{{ 'tn73b0159f' | t }}</h3>
            <div class="wrapper-text-catalogue">
              <div class="sub-heading-copy-copy-copy white">{{ 't78bab644' | t }}<br>{{ 'tnaf5f8dc' | t }}</div>
              <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="circle"></div>
            </div>
          </div>
        </div>
        <div data-w-id="c4b89002-e50f-8d01-cdba-a2680d8ffccb" class="second-catalogue">
          <div class="background-catalogue _2"></div>
          <div class="wrap-text">
            <div class="sub-heading-copy-copy white">{{ 't5cce7675' | t }}</div>
            <h3 class="catalogue-heading white normal">{{ 't4a0474c9' | t }}</h3>
            <div class="wrapper-text-catalogue">
              <div class="sub-heading white">{{ 'tn75f53694' | t }}<br>{{ 't8e32974' | t }}</div>
              <div class="circle red"></div>
            </div>
          </div>
        </div>
        <div style="display:none;opacity:0;-webkit-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="catalogue-wine">
          <div data-delay="4000" data-animation="slide" class="slider-landing-4 w-slider" data-autoplay="false" data-easing="ease-in-out" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="800" data-infinite="true">
            <div class="catalogue-mask w-slider-mask">
              <div data-w-id="98602f42-ed2d-e44a-375e-45b3e4e6139d" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="d7ffefb4-72df-7145-4e85-879ffc0c664e" class="heading-slider black static">{{ 'tn17d51f54' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="9d30968c-219f-dcd7-bad4-f88f67bd8a96" class="heading-slider black static">{{ 'tn776e05d9' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="3fd15121-ed1a-67e2-dd02-4b8454ac1076" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="ab9bc4ca-34f6-056c-da47-a306872da1eb" class="heading-slider white static">{{ 'tn17d51f54' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="ab9bc4ca-34f6-056c-da47-a306872da1ee" class="heading-slider white static">{{ 'tn776e05d9' | t }}</h1>
                      </div>
                    </div><img src="{{ 'aboutus.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'aboutus-p-800.jpeg' | asset_url }} 800w, {{ 'aboutus-p-1080.jpeg' | asset_url }} 1080w, {{ 'aboutus.jpg' | asset_url }} 1500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="98602f42-ed2d-e44a-375e-45b3e4e6139e" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="573a6deb-0388-6993-d384-5e0521b89047" class="heading-slider black static">{{ 't498be1a' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="573a6deb-0388-6993-d384-5e0521b8904a" class="heading-slider black static">{{ 'tn51a30efb' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="2686aa5c-f8e8-08e1-0b59-bc7b9b674fa7" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="1079b36f-46ad-71fb-51fd-30e6fde65495" class="heading-slider white static">{{ 't498be1a' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="1079b36f-46ad-71fb-51fd-30e6fde65498" class="heading-slider white static">{{ 'tn51a30efb' | t }}</h1>
                      </div>
                    </div><img src="{{ 'm2.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'm2-p-1080.jpeg' | asset_url }} 1080w, {{ 'm2.jpg' | asset_url }} 1500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="b7a329ad-ea4d-445a-ded2-eae95d2d8b62" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="d444c3cb-f2f3-7475-944f-42f97048841d" class="heading-slider black static">{{ 'tn776e05d9' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="d444c3cb-f2f3-7475-944f-42f970488420" class="heading-slider black static">{{ 't3d4a12c' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="c3575174-3623-a3b6-ae2a-906d14cf2613" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="e7dccdb0-0679-975c-5acb-73698984c654" class="heading-slider white static">{{ 'tn776e05d9' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="e7dccdb0-0679-975c-5acb-73698984c657" class="heading-slider white static">{{ 't3d4a12c' | t }}</h1>
                      </div>
                    </div><img src="{{ '874.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '874-p-1080.jpeg' | asset_url }} 1080w, {{ '874-p-1600.jpeg' | asset_url }} 1600w, {{ '874-p-2000.jpeg' | asset_url }} 2000w, {{ '874.jpg' | asset_url }} 2500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="3840d665-3c7b-88f6-3d1b-c76cc12e1a25" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="f8720dc5-7185-3387-970b-94f80ee09928" class="heading-slider black static">{{ 'tn17d51f54' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="f8720dc5-7185-3387-970b-94f80ee0992b" class="heading-slider black static">{{ 'tn776e05d9' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="48e4c06b-b585-86d5-767f-9fd4269c6060" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="63ddda92-1692-b68b-a830-071c07711f64" class="heading-slider white static">{{ 'tn17d51f54' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="63ddda92-1692-b68b-a830-071c07711f67" class="heading-slider white static">{{ 'tn776e05d9' | t }}</h1>
                      </div>
                    </div><img src="{{ '875.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '875-p-1080.jpeg' | asset_url }} 1080w, {{ '875-p-1600.jpeg' | asset_url }} 1600w, {{ '875-p-2000.jpeg' | asset_url }} 2000w, {{ '875.jpg' | asset_url }} 2500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="d2cbfb1d-e3bf-0171-ec6b-cb38c7373930" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="67998130-ddbb-90bd-210b-55d5fa79f4b3" class="heading-slider black static">{{ 'tn17d51f54' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="67998130-ddbb-90bd-210b-55d5fa79f4b6" class="heading-slider black static">{{ 'tn776e05d9' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="67998130-ddbb-90bd-210b-55d5fa79f4b9" class="heading-slider black static">{{ 't14071' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="87497072-e748-4bc1-09b1-4593a727394c" class="background-wine _2"><img src="{{ '873.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '873-p-500.png' | asset_url }} 500w, {{ '873-p-800.png' | asset_url }} 800w, {{ '873-p-1080.png' | asset_url }} 1080w, {{ '873-p-1600.png' | asset_url }} 1600w, {{ '873-p-2000.png' | asset_url }} 2000w, {{ '873.png' | asset_url }} 2500w" alt="" class="landing-image">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="21bc0158-c0c0-9fa0-2ac2-eaa80ec3af82" class="heading-slider white static">{{ 'tn17d51f54' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="21bc0158-c0c0-9fa0-2ac2-eaa80ec3af85" class="heading-slider white static">{{ 'tn776e05d9' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="21bc0158-c0c0-9fa0-2ac2-eaa80ec3af88" class="heading-slider white static">{{ 't14071' | t }}</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-id="3d47696b-f40b-1d3e-f948-0bbc064974be" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="53bfb573-3743-ee79-8b37-fd214d8fb69e" class="heading-slider black static">{{ 'tn17d51f54' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="53bfb573-3743-ee79-8b37-fd214d8fb6a1" class="heading-slider black static">{{ 'tn776e05d9' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="7c942090-b1a4-749e-6f90-4b9a286432e3" class="heading-slider black static">{{ 't41ddee3' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="34601876-5552-6a30-ffca-30a28d7e159a" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="1518cfb4-2e01-662f-38a8-770463e1b1fd" class="heading-slider white static">{{ 'tn17d51f54' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="1518cfb4-2e01-662f-38a8-770463e1b200" class="heading-slider white static">{{ 'tn776e05d9' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="1518cfb4-2e01-662f-38a8-770463e1b203" class="heading-slider white static">{{ 't41ddee3' | t }}</h1>
                      </div>
                    </div><img src="{{ '1647.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ '1647-p-1080.jpeg' | asset_url }} 1080w, {{ '1647-p-1600.jpeg' | asset_url }} 1600w, {{ '1647-p-2000.jpeg' | asset_url }} 2000w, {{ '1647.jpg' | asset_url }} 2500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="f933ed0b-119c-40e8-9aa7-3dd7a68ab71e" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="5ca9a4bb-3d9e-83a7-47d6-f63706ab6cc5" class="heading-slider black static">{{ 't498be1a' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="5ca9a4bb-3d9e-83a7-47d6-f63706ab6cc8" class="heading-slider black static">{{ 'tn51a30efb' | t }}</h1>
                    </div>
                  </div>
                  <div data-w-id="66afa079-dc31-121c-a9f3-478dc40bbf53" class="background-wine _2">
                    <div class="heading-slider white">
                      <div class="overflow">
                        <h1 data-w-id="ecf52d44-9a6c-38d8-d7ff-71178cc093c0" class="heading-slider white static">{{ 't498be1a' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="ecf52d44-9a6c-38d8-d7ff-71178cc093c3" class="heading-slider white static">{{ 'tn51a30efb' | t }}</h1>
                      </div>
                    </div><img src="{{ 'm2.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'm2-p-1080.jpeg' | asset_url }} 1080w, {{ 'm2.jpg' | asset_url }} 1500w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
            </div>
            <div data-w-id="98602f42-ed2d-e44a-375e-45b3e4e6139f" class="left-arrow-second w-slider-arrow-left">
              <div style="width:38PX" class="line about slider left"></div>
              <div style="-webkit-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-icon w-icon-slider-left"></div>
            </div>
            <div data-w-id="98602f42-ed2d-e44a-375e-45b3e4e613a1" class="right-arrow-second w-slider-arrow-right">
              <div style="width:38PX" class="line about slider"></div>
              <div style="-webkit-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-icon-second w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-third w-slider-nav w-round"></div>
          </div>
          <div class="wrapper-navbar-langing-4"></div>
          <a data-w-id="1c6caabf-cc64-446a-283c-e04bfb76c235" style="-webkit-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="#" class="button-2 w-button">{{ 't1f7907' | t }}</a>
        </div>
        <div style="display:none;opacity:0;-webkit-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="catalogue menu">
          <div data-delay="4000" data-animation="slide" class="slider-landing-4 menu w-slider" data-autoplay="false" data-easing="ease-in-out" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="800" data-infinite="true">
            <div class="catalogue-mask w-slider-mask">
              <div data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5634" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5638" class="heading-slider black static">{{ 'tn658efd1b' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="7360a781-ec22-6f1c-a5ba-6d654af6d148" class="heading-slider black static">{{ 't79c6774' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="35c8c913-a668-5691-9a72-0b277da78101" class="heading-slider black static">{{ 't24897f' | t }}</h1>
                    </div>
                  </div>
                  <div class="background-wine _2 menu">
                    <div class="heading-slider white _2">
                      <div class="overflow">
                        <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5640" class="heading-slider white static">{{ 'tn658efd1b' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="fc5e3630-bc44-77f4-c4c5-734566a95c9f" class="heading-slider white static">{{ 'tn140f78d4' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="9205c7a4-e14e-c841-3fe4-bdf771b54117" class="heading-slider white static">{{ 't248a03' | t }}</h1>
                      </div>
                    </div><img src="{{ 'menu1.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'menu1-p-500.jpeg' | asset_url }} 500w, {{ 'menu1-p-800.jpeg' | asset_url }} 800w, {{ 'menu1-p-1080.jpeg' | asset_url }} 1080w, {{ 'menu1.jpg' | asset_url }} 1200w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5646" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b564a" class="heading-slider black static">{{ 't214b9b' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="5056a907-249c-aad6-a23a-d794c198e44f" class="heading-slider black static">{{ 't79c6774' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="78148ccf-c12b-feba-7fc8-b8f63d137196" class="heading-slider black static">{{ 't24897f' | t }}</h1>
                    </div>
                  </div>
                  <div class="background-wine _2 menu">
                    <div class="heading-slider white _2">
                      <div class="overflow">
                        <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5652" class="heading-slider white static">{{ 't214b9b' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="2b26bda1-b1a8-1fca-3888-cea4c54bfd8c" class="heading-slider white static">{{ 't79c6774' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="9ff8a0d5-6707-25c1-296c-3484b6320e27" class="heading-slider white static">{{ 't248a03' | t }}</h1>
                      </div>
                    </div><img src="{{ 'menu2.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'menu2-p-800.jpeg' | asset_url }} 800w, {{ 'menu2-p-1080.jpeg' | asset_url }} 1080w, {{ 'menu2.jpg' | asset_url }} 1200w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
              <div data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5658" class="w-slide">
                <div class="container-slide">
                  <div class="heading-slider black">
                    <div class="overflow">
                      <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b565c" class="heading-slider black static">{{ 'tn6bfe11d3' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b565f" class="heading-slider black static">{{ 't79c6774' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 data-w-id="237bd984-2079-9e3a-0685-b4daeb634cda" class="heading-slider black static">{{ 't248a03' | t }}</h1>
                    </div>
                  </div>
                  <div class="background-wine _2 menu">
                    <div class="heading-slider white _2">
                      <div class="overflow">
                        <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5664" class="heading-slider white static">{{ 'tn6bfe11d3' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b5667" class="heading-slider white static">{{ 'tn140f78d4' | t }}</h1>
                      </div>
                      <div class="overflow">
                        <h1 data-w-id="e173930a-d5b4-0372-8f2d-e23b886cb1f9" class="heading-slider white static">{{ 't248a03' | t }}</h1>
                      </div>
                    </div><img src="{{ 'menu3.jpg' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'menu3-p-800.jpeg' | asset_url }} 800w, {{ 'menu3-p-1080.jpeg' | asset_url }} 1080w, {{ 'menu3.jpg' | asset_url }} 1200w" alt="" class="landing-image">
                  </div>
                </div>
              </div>
            </div>
            <div data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b56be" class="left-arrow-second w-slider-arrow-left">
              <div style="width:38PX" class="line about slider left"></div>
              <div style="-webkit-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-icon w-icon-slider-left"></div>
            </div>
            <div data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b56c1" class="right-arrow-second w-slider-arrow-right">
              <div style="width:38PX" class="line about slider"></div>
              <div style="-webkit-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="arrow-icon-second w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-third w-slider-nav w-round"></div>
          </div>
          <div class="wrapper-navbar-langing-4"></div>
          <a data-w-id="8ec61317-f9e0-41dc-6606-0421fb5b56c6" style="-webkit-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-200PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="#" class="button-2 w-button">{{ 't1f7907' | t }}</a>
        </div>
      </div>
    </div>
    <div style="opacity:0" class="change-bg gray wf-section"></div>
    <div style="opacity:0" class="change-bg black wf-section"></div>
    <div data-w-id="4c665ac3-f305-ee54-e4ee-afe157cd1272" class="container-change-bg">
      <div id="Team" class="section team wf-section">
        <div class="catalogue-heading team">
          <div class="wrapper-circle _2 _3">
            <h2 class="heading-about-layout-3 absolute team">{{ 't1372c' | t }}<br>{{ 't5235105e' | t }}</h2>
          </div>
          <h2 class="catalogue-heading team no">{{ 't1372c' | t }}<br>{{ 't5235105e' | t }}</h2>
        </div>
        <div class="container-team">
          <div class="col-right">
            <div class="block-wrapper">
              <div tabindex="0" class="block-team _1">
                <div class="step-wrapper"><img src="{{ '1_2.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 64vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '1_2-p-500.png' | asset_url }} 500w, {{ '1_2-p-800.png' | asset_url }} 800w, {{ '1_2-p-1080.png' | asset_url }} 1080w, {{ '1_2.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 't21f2c3da' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span"><br></span></h1>
                    </div>
                  </div>
                </div>
              </div>
              <div tabindex="0" class="block-team _2 red">
                <div class="step-wrapper"><img src="{{ '3_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 64vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '3_1-p-500.png' | asset_url }} 500w, {{ '3_1-p-800.png' | asset_url }} 800w, {{ '3_1-p-1080.png' | asset_url }} 1080w, {{ '3_1.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 't33f561e4' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span"><br></span></h1>
                    </div>
                  </div>
                  <div class="text-wrapper-team bottom"></div>
                </div>
              </div>
              <div tabindex="0" class="block-team _3 red">
                <div class="step-wrapper"><img src="{{ '6.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 64vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '6-p-500.png' | asset_url }} 500w, {{ '6-p-800.png' | asset_url }} 800w, {{ '6-p-1080.png' | asset_url }} 1080w, {{ '6.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 't75ba7d2c' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span">{{ 't5910ca7b' | t }}<br></span></h1>
                    </div>
                  </div>
                  <div class="text-wrapper-team bottom"></div>
                </div>
              </div>
              <div tabindex="0" class="block-team _3 red">
                <div class="step-wrapper"><img src="{{ '4_1.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 64vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '4_1-p-500.png' | asset_url }} 500w, {{ '4_1-p-800.png' | asset_url }} 800w, {{ '4_1-p-1080.png' | asset_url }} 1080w, {{ '4_1.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 'tn4167be19' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span">{{ 't4a0474c9' | t }}<br></span></h1>
                    </div>
                  </div>
                  <div class="text-wrapper-team bottom"></div>
                </div>
              </div>
              <div tabindex="0" class="block-team _3 red">
                <div class="step-wrapper"><img src="{{ '2_2.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 64vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '2_2-p-500.png' | asset_url }} 500w, {{ '2_2-p-800.png' | asset_url }} 800w, {{ '2_2-p-1080.png' | asset_url }} 1080w, {{ '2_2.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 'tn1627f382' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span">{{ 't2d1c35a5' | t }}<br></span></h1>
                    </div>
                  </div>
                  <div class="text-wrapper-team bottom"></div>
                </div>
              </div>
              <div tabindex="0" class="block-team _4 red">
                <div class="step-wrapper"><img src="{{ '5.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 73vw, (max-width: 767px) 72vw, (max-width: 991px) 73vw, (max-width: 1439px) 720px, 640px" srcset="{{ '5-p-500.png' | asset_url }} 500w, {{ '5-p-800.png' | asset_url }} 800w, {{ '5-p-1080.png' | asset_url }} 1080w, {{ '5.png' | asset_url }} 1440w" alt="" class="team-image">
                  <div class="text-wrapper-team">
                    <div class="overflow">
                      <h1 class="team-heading">{{ 'tn58b1302e' | t }}</h1>
                    </div>
                    <div class="overflow">
                      <h1 class="team-heading"><span class="text-span">{{ 'tn4785e6a8' | t }}<br></span></h1>
                    </div>
                  </div>
                  <div class="text-wrapper-team bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'pop-up' -%}
  <div class="footer-section wf-section"></div>
  <div class="line-loading-04 bottom"></div>
  {%- render 'footer-white' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61ad89fde648a805e9ba5bc9" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'luretic.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}