{%- assign headerSnippetPath = "header-password" -%}{%- assign wfPage = "61ad89fde648a867b7ba5be5" -%}{%- assign bodyClasses = "" -%}
  {%- render 'first-navbar' -%}
  <div class="main">
    <div class="container-faq">
      <div class="heading-faq">
        <h1 class="faq-heading"><strong>{{ 't10ef6' | t }}</strong></h1>
      </div>
      <div class="faq-wrapper">
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc30445" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title"><strong>{{ 't549ff538' | t }}</strong></div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 'tn5313c51c' | t }}<br><br></p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc30450" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title"><strong>{{ 't6d7a7d84' | t }}</strong><br></div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 't17505b71' | t }}<br></p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc3045a" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title">{{ 'tn6fcc6963' | t }}</div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 'tn54ff24b2' | t }}</p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc30464" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title">{{ 'tn6efa6045' | t }}</div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 't52aa6ca2' | t }}<br></p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc3046e" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title"><strong>{{ 'tn2e8d4c5e' | t }}</strong></div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 'tn23a3dc19' | t }}</p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
        <div data-w-id="df133b55-e699-dd17-fd53-4a83adc30478" class="faq-question-wrap">
          <a href="#" class="faq-question-bar w-inline-block">
            <div class="question-title"><strong>{{ 't6114b622' | t }}</strong></div>
            <div style="border-color:rgb(211,211,211)" class="faq-circle"><img src="https://uploads-ssl.webflow.com/5f88225b697f3c2ab623b070/5f88225b697f3cdfb123b159_plus.svg" width="20" alt="" class="plus-icon"></div>
          </a>
          <div style="height:0PX" class="faq-content">
            <p class="faq-paragraph">{{ 'tn60c0e901' | t }}</p>
            <div class="wrapper-faq"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mini-footer">
      <div class="form-section wf-section">
        <div class="form-block w-form">
          {%- form "contact",  class: "newsletter-form" -%}
            <div class="container-newsletter-form">
              <div class="wrapper-heading-newsletter">
                <h1 class="heading-newsletter">{{ 't1d548131' | t }}<br>{{ 't251e9bc8' | t }}</h1><input type="email" class="mail-label w-input" maxlength="256" name="contact[email]" data-name="Email 2" placeholder="Your Email" id="email-2" required="">
              </div><input type="submit" value="﹥" data-wait="Please wait..." class="submit-button-newsletter w-button">
            </div><label class="w-checkbox checkbox">
              <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox-layout"></div><input type="checkbox" id="checkbox-2" name="contact[checkbox_]" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="checkbox-label w-form-label" for="checkbox-2">{{ 't57b71b87' | t }}</span>
            </label>
          {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
          <div class="success-message w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
            <div class="text-licensing-second">{{ 't5a0ea5a1' | t }}</div>
          </div>
          {%- unless form_success -%}<div class="error-message w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
            <div class="text-licensing">{%- render "form-errors", form_errors: form_errors -%}</div>
          </div>{%- endunless -%}
        </div>
        <div class="info-wrapp">
          <div class="link-wrapp">
            <a href="{{ pages["about"].url }}" class="link cursor w-inline-block">
              <p class="privacy-paragraph">{{ 't585238d' | t }}</p>
            </a>
            <a href="#" class="link cursor w-inline-block">
              <p class="privacy-paragraph">{{ 't338ad3' | t }}</p>
            </a>
            <a href="{{ pages["shop"].url }}" class="link cursor w-inline-block">
              <p class="privacy-paragraph">{{ 't35daf6' | t }}</p>
            </a>
            <a href="{{ pages["faq"].url }}" aria-current="page" class="link cursor w-inline-block w--current">
              <p class="privacy-paragraph">{{ 't18b16' | t }}</p>
            </a>
            <a href="{{ pages["contact"].url }}" class="link cursor w-inline-block">
              <p class="privacy-paragraph">{{ 't38b72420' | t }}</p>
            </a>
          </div>
          <div>
            <a href="#" class="social-link w-inline-block"><img src="{{ 'instagram-2.svg' | asset_url }}" loading="lazy" alt="" class="social-image"></a>
            <a href="#" class="social-link w-inline-block"><img src="{{ 'facebook.svg' | asset_url }}" loading="lazy" alt="" class="social-image"></a>
          </div>
        </div>
      </div>
      <div class="w-layout-grid footer-grid">
        <div id="w-node-_8b06254b-5084-64ee-41b4-3a26d629cd2f-b7ba5be5" class="wrap-copyright">
          <div class="back-to-top-text"><strong class="text-bold">{{ 't2fbe2b32' | t }}</strong></div>
        </div>
        <div id="w-node-_8b06254b-5084-64ee-41b4-3a26d629cd33-b7ba5be5" class="wrap-link-footer">
          <p class="top-text">{{ 'tn6498b733' | t }}<a href="https://webflow.com/?r=0" class="webflow-link">{{ 'tn53d3659e' | t }}</a>
          </p>
          <p class="text-credits">{{ 't461e7d51' | t }}<a href="https://www.udesly.com/" class="udesly-link">{{ 'tn69433e16' | t }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61ad89fde648a805e9ba5bc9" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'luretic.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}